@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #dfdfdf;
  font-family: "Noto Sans";
}

body {
  /* background-color: #393e47; */
  background-color: #364156;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

/* background-color: #393e47; */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222b3a;
  box-sizing: border-box;
  padding: 15px;
  width: 25%;
  position: fixed;
  height: 100%;
  border-right: 1px solid #e2e2e2;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-image img {
  margin-top: 20px;
  width: 70%;
  border-radius: 60%;
}

.profile-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.profile-contact {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin: 20px 0;
}

.profile-contact > ul {
  height: fit-content;
  list-style: none;
}

.profile-contact > ul > li {
  margin: 6px 0;
}

a {
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: #627394;
}

.profile-title {
  margin: 25px;
  font-style: italic;
  font-size: 1.125rem;
  align-self: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 75%;
  padding: 20px;
}

.english-btn {
  width: 100%;
  background-color: #222b3a;
  margin: -20px !important;
  padding: 15px;
}

.btn:hover {
  color: #627394;
}

.btn {
  background: none;
  padding: 8px 18px ;
  margin-left: 20px;
  outline: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: 1px solid;
}

.title {
  font-size: 2rem;
  font-style: italic;
  font-family: Helvetica;
  letter-spacing: 1px;
  margin-top: 40px;
}

.main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: italic;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  /* color: #c883e7; */
  border: 1px solid;
  padding: 20px;
}

.list {
  display: none;
  list-style: none;
}

.list-border {
  border-left: 1px solid rgb(90, 90, 90);
  margin-left: 30px;
}

.list-item {
  width: 90%;
  margin: 20px;
  border-bottom: 1px solid rgb(90, 90, 90);
}

.list-item_title {
  font-style: italic;
  margin-bottom: 20px;
  color: rgb(207, 176, 214);
}

.list-item_description {
  margin: 0 0 25px 25px;
}

.arrow{
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

footer>p>span{
  font-style: italic;
  color: rgb(207, 176, 214);
}

@media screen and (max-width: 780px) {
  .main-container {
    flex-direction: column;
  }

  .profile {
    justify-content: space-around;
    width: 100%;
    position: initial;
    height: 50%;
    border-right: 0px;
    border-bottom: 1px solid #c4c4c4;
  }

  .main-content {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }

  .title {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 10px;
  }

  .list-border {
    border-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .list-item {
    width: 95%;
    margin: 15px;
    border-bottom: 1px solid rgb(90, 90, 90);
  }

  .main-title {
    font-style: initial;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
  }

  .english-btn {
    margin: -15px !important;
    font-size: 0.8rem;
    border-radius: 10px;
  }

  .english-btn p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin-top: 15px;
    margin-left: 0;
    padding: 10px 15px;
  }
}
